/* CSS for genInfoPage */





/* Banner */
div#banner {
    display: block;
    background-color: rgb(63,72,204);
    clear: left;
}

/* Nav */





/* div */





/* footer */
footer {
    background-color: rgb(63,72,204);
    text-align: center;
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 1em;
}